/*
File name: demo1css.css
Author: Thuy Tien Le - 102848464
Description: demonstration of the use of CSS for lab 01
*/
.head1 {text-align: center; color: #0066ff;}
.head2 {text-decoration: underline; font-family: 'Courgette';}

figure {display: table;}
figcaption { width: 554px}

/*Footer of is centerd with small font size, and cover 100% the width of the page*/
footer {font-size: 0.75em; text-align: center; clear: both; width: 100%}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size: 12px;
  padding: 12px 28px;
}

button:hover {
  background-color: #008CBA;
  color: white;
}
